node_modules
dist
.git
.gitignore
*.md
*.log
.env
.env.prod
backend.env
docker-compose.override.yml
.github
coverage
test
*.test.ts
*.spec.ts
uploads
lens.db
lens.db-shm
lens.db-wal
swagger-spec*.json
docs

osrm-data
